<div class="info-bar">
	<div class="content-container detail-container" ng-show="globalCtrl.tabIndex == 0">			
		
		<div class="display-container" ng-hide="infoBarCtrl.isEditing">
			<div class="button-container">
				<div class="button edit" ng-click="infoBarCtrl.startEdit()">
					<div></div>
				</div>
			</div>
			<h1>{{infoBarCtrl.entity.title}}</h1>			
			<section>
				<h2>Authors</h2>
				<p>
					<span class="author" ng-repeat="author in infoBarCtrl.entity.author"><a href="">{{author.name}}</a></span>
				</p>
			</section>
			<section>
				<h2>Year</h2>
				<p>{{infoBarCtrl.entity.pub_year}}</p>
			</section>
			<section>
				<h2>Citation Count</h2>
				<p>{{infoBarCtrl.entity.cite_count}}</p>
			</section>
			<section>
				<h2>ISBN</h2>
				<p>{{infoBarCtrl.entity.ISBN}}</p>
			</section>
			<section>
				<h2>Conference</h2>
				<p>{{infoBarCtrl.entity.location}}</p>
			</section>
			<section>
				<h2>Tags</h2>
				<tag-container entity="infoBarCtrl.entity"></tag-container>
			</section>
			<section>
				<h2>Abstract</h2>
				<p>{{infoBarCtrl.entity.abstract}}</p>
			</section>
		</div>
		<div class="edit-container" ng-show="infoBarCtrl.isEditing">
			<div class="button-container">
				<div class="button tick" ng-click="infoBarCtrl.saveEdit()">
					<div></div>
				</div>
				<div class="button cross" ng-click="infoBarCtrl.cancelEdit()">
					<div></div>	
				</div>
			</div>
			<section>
				<h2>Title</h2>
				<textarea name="title" id="title" ng-model="infoBarCtrl.tempEntityDetail.title" placeholder="Publication Title"></textarea>
			</section>
			<section>
				<h2>Authors</h2>
				<textarea name="author" id="author" ng-model="infoBarCtrl.tempEntityDetail.author" placeholder="Author Names" author-input-formatter></textarea>
			</section>
			<section>
				<h2>Year</h2>
				<textarea name="year" id="year" ng-model="infoBarCtrl.tempEntityDetail.pub_year" placeholder="Publication Year"></textarea>
			</section>
			<section>
				<h2>Cite Count</h2>
				<textarea name="cite-count" id="cite-count" ng-model="infoBarCtrl.tempEntityDetail.cite_count" placeholder="Citation Count"></textarea>
			</section>
			<section>
				<h2>ISBN</h2>
				<textarea name="isbn" id="isbn" ng-model="infoBarCtrl.tempEntityDetail.ISBN" placeholder="ISBN"></textarea>
			</section>
			<section>
				<h2>Conference</h2>
				<textarea name="conference" id="conference" ng-model="infoBarCtrl.tempEntityDetail.conference" placeholder="Conference Title"></textarea>
			</section>
			<section>
				<h2>Tags</h2>
				<textarea name="tags" id="tags" placeholder="Put tags here, separate with comma" ng-model="infoBarCtrl.tempEntityDetail.tag" tag-input-formatter></textarea>
			</section>
			<section>
				<h2>Abstract</h2>
				<textarea name="abstract" id="abstract" ng-model="infoBarCtrl.tempEntityDetail.abstract" placeholder="Put abstract here."></textarea>
			</section>
		</div>
	</div>
	<div class="content-container note-container" ng-show="globalCtrl.tabIndex == 1">
		<h1>Tags</h1>
		<section>
			<tag-container entity="infoBarCtrl.entity"></tag-container>
		</section>
		<h1>Comments</h1>
		<section>
			<textarea name="" id="">{{infoBarCtrl.entity.comment}}</textarea>
		</section>
	</div>
	<div class="content-container citation-container" ng-show="globalCtrl.tabIndex == 2 || globalCtrl.tabIndex == 3">
		<div class="button-container">
			<div class="button tick" ng-click="infoBarCtrl.saveCitationNote()">
					<div></div>
			</div>
		</div>
		<h1>{{globalCtrl.tabIndex == 2? "Reference" : "Cited by"}}</h1>		
		<section>
			<div class="cite-container">
				<div class="cite-table">
					<!-- <div class="cite-row header">
						<div class="rating">Rating</div>
						<div class="title">Title</div>
					</div> -->
					<div class="cite-row" ng-class="{'active':citation == infoBarCtrl.citationEntity}" ng-repeat="citation in infoBarCtrl.currentCitationList" ng-click="infoBarCtrl.setCitationEntity(citation)" ng-hide="infoBarCtrl.isInvalidCitation(citation)">
						<div class="rating">{{citation.pub_id}}</div>
						<div class="title">{{citation.pub_title}}</div>
					</div>					
				</div>
			</div>
		</section>
		<section>
			<h2>Date</h2>
			<p>{{inforBarCtrl.citationEntity.note_date}}</p>
		</section>
		<section>
			<h2>Rating</h2>
			<textarea id="cite_rating" placeholder="Rate from 1 to 5" ng-model="infoBarCtrl.citationEntity.note_rating"></textarea>
		</section>
		
		<section>
			<h2>Note</h2>
			<textarea id="cite_note" placeholder="Type citation note" ng-model="infoBarCtrl.citationEntity.note_content"></textarea>
		</section>
	</div>
</div>