<div class="info-bar">
	<div class="content-container detail-container" ng-show="globalCtrl.tabIndex == 0">			
		
		<div class="display-container" ng-hide="infoBarCtrl.isEditing">
			<div class="button-container">
				<div class="button edit" ng-click="infoBarCtrl.startEdit()">
					<div></div>
				</div>
			</div>
			<h1>{{infoBarCtrl.entity.title}}</h1>			
			<section>
				<h2>Authors</h2>
				<p>
					<span ng-repeat="author in infoBarCtrl.entity.author"><a href="">{{author.name}}</a></span>
				</p>
			</section>
			<section>
				<h2>Year</h2>
				<p>{{infoBarCtrl.entity.pub_year}}</p>
			</section>
			<section>
				<h2>Conference</h2>
				<p>{{infoBarCtrl.entity.conference}}</p>
			</section>
			<section>
				<h2>Tags</h2>
				<tag-container entity="infoBarCtrl.entity"></tag-container>
			</section>
			<section>
				<h2>Abstract</h2>
				<p>{{infoBarCtrl.entity.abstract}}</p>
			</section>
		</div>
		<div class="edit-container" ng-show="infoBarCtrl.isEditing">
			<div class="button-container">
				<div class="button tick" ng-click="infoBarCtrl.saveEdit()">
					<div></div>
				</div>
				<div class="button cross" ng-click="infoBarCtrl.cancelEdit()">
					<div></div>	
				</div>
			</div>
			<section>
				<h2>Title</h2>
				<textarea name="title" id="title" ng-model="infoBarCtrl.tempEntityDetail.title" placeholder="Publication Title"></textarea>
			</section>
			<section>
				<h2>Authors</h2>
				<textarea name="author" id="author" ng-model="infoBarCtrl.tempEntityDetail.author" placeholder="Author Names"></textarea>
			</section>
			<section>
				<h2>Year</h2>
				<textarea name="year" id="year" ng-model="infoBarCtrl.tempEntityDetail.pub_year" placeholder="Publication Year"></textarea>
			</section>
			<section>
				<h2>Conference</h2>
				<textarea name="conference" id="conference" ng-model="infoBarCtrl.tempEntityDetail.conference" placeholder="Conference Title"></textarea>
			</section>
			<section>
				<h2>Tags</h2>
				<textarea name="tags" id="tags" placeholder="Put tags here, separate with comma" ng-model="infoBarCtrl.tempEntityDetail.tag" tag-input-formatter></textarea>
			</section>
			<section>
				<h2>Abstract</h2>
				<textarea name="abstract" id="abstract" ng-model="infoBarCtrl.tempEntityDetail.abstract" placeholder="Put abstract here."></textarea>
			</section>
		</div>
	</div>
	<div class="content-container note-container" ng-show="globalCtrl.tabIndex == 1">
		<h1>Tags</h1>
		<section>
			<tag-container entity="infoBarCtrl.entity"></tag-container>
		</section>
		<h1>Comments</h1>
		<section>
			<textarea name="" id="">{{infoBarCtrl.entity.comment}}</textarea>
		</section>

	</div>
</div>