<div class="search-bar">	
	<div class="collection-container">
		<section>
			<h2 ng-click="searchBarCtrl.clearSearch()">My Library</h2>
			<!-- <span class="count">293</span> -->
		</section>
		<!-- <section>
			<h2>Collection</h2>
			<span class="count">1</span>
		</section>
		<section class="collection" ng-repeat="collection in searchBarCtrl.allCollections">
			<h3>{{collection.name}}</h3>
			<span class="count">{{collection.count}}</span>
		</section> -->
		
	</div>
	<div class="search-button-container">		
			<h2>Search</h2>
			<div class="search-button" ng-click="searchBarCtrl.search()">
				<div></div>
			</div>
	</div>
	
	<div class="condition-container">
		<section class="condition" ng-repeat="condition in searchBarCtrl.allConditions">
			<form action="" id="condition-form">
				<select form="condidition-form" ng-model="condition.metric_id">	
					<option ng-selected="$index == condition.metric_id" ng-disabled="$index == 0" value="{{$index}}" ng-repeat="metric in searchBarCtrl.allMetrics">{{metric.name}}</option>	
				</select>
				<select name="" id="measure" ng-model="condition.measure_id">
					<option ng-selected="$index == condition.measure_id" ng-disabled="$index == 0" value="{{$index}}" ng-repeat="measure in searchBarCtrl.allMeasures">{{measure}}</option>	
				</select>
				<input type="text" ng-model="condition.value" placeholder="Input Value Here">
			</form>
			<div class="delete-button" ng-click="searchBarCtrl.removeCondition($index)">
				<div></div>
			</div>
		</section>			
		<section class="condition add-container" ng-click="searchBarCtrl.addCondition()">
			<div class="add-button">
				<div></div>
			</div>
			<span>New Condition</span>
		</section>
	</div>
	
</div>