$color-primary:#334e5f;
$color-secondary:#5d7b92;
$color-highlight:#6ba7d5;
$color-text-primary:$color-primary;
$color-text-secondary:$color-secondary;
$color-text-revert:#f9fafb;
$color-text-fade:rgba(#607b8d,0.5);
$color-background:#f9fafb;
$color-background-table:$color-background;
$color-background-table-secondary:rgba(#9db1bf,0.1);
$color-border-table:rgba(#c0ccd5,0.5);

$z-main:0;
$z-sidebar:1;
$z-header:2;

$search-bar-width:20%;
$info-bar-width:20%;
$header-bar-height:6%;

@mixin border($direction, $color){
	border-#{$direction}:1px solid $color;
}


*{
	margin:0;
	padding:0;
	border:0;
}

html,body{
	width:100%;
	height:100%;
}

body{
	font-family:"Helvetica Neue",sans-serif;
	background:$color-background;

}
.globalContainer{
	position:absolute;
	left:$search-bar-width;
	top:0;
	z-index:$z-main;

	width:100% - $search-bar-width - $info-bar-width;
	height:100%;	
}

.search-bar{
	position:absolute;
	left:0;
	top:0;
	z-index:$z-sidebar;
	width:$search-bar-width;
	height:100%;
}

.table-view-container{
	width:100%;
	height:100%;	

	.table-header{
		background:$color-primary;
		width:100%;
		height:$header-bar-height;
	}
}

.grid{
	width:100%;
	height:100% - $header-bar-height;
}

.ui-grid{
	font-weight:300;
	border:0;
	
	.ui-grid-top-panel{	
		background:$color-secondary;
		color:$color-text-revert;
		font-weight:inherit;
	}

	.ui-grid-row{
		color:$color-text-primary;


		&:nth-child(odd) .ui-grid-cell{
			background:$color-background-table;
		}

		&:nth-child(even) .ui-grid-cell{
			background:$color-background-table-secondary;
		}

		.ui-grid-cell.active{
			background-color:$color-highlight;	
			color:$color-text-revert;
		}

		.ui-grid-cell{
			border-color:$color-border-table;
		}

		
	}

	.ui-grid-header-cell{
		border-color:$color-border-table;	
	}
}

.info-bar{
	position:absolute;
	right:0;
	top:0;
	z-index:$z-sidebar;
	width:$info-bar-width;
	height:100%;		

	.tab-container{
		position:absolute;
		top:0;
		right:0;
		z-index:$z-header;

		display:flex;
		width:100%;
		height:$header-bar-height;

		background:$color-primary;

		.tab{
			display:flex;
			align-items:center;

			flex:1;		

			color:$color-text-revert;
			font-size:0.8em;

			cursor:pointer;

			&:hover{
				background:$color-highlight;
			}

			span{
				width:100%;
				text-align:center;
			}
		}
	}

	.content-container{
		position:absolute;
		top:$header-bar-height;
		right:0;

		height:100% - $header-bar-height;	
		overflow:scroll;	

		color:$color-text-primary;
		font-weight:300;

		box-shadow: 5px 0px 30px 0px rgba(0,0,0,0.5);

		h1{
			font-weight:inherit;
			font-size:1.2em;
			margin:1em;
		}

		section{
			margin: 1em;
		}

		h2{
			font-weight:500;
			font-size:0.8em;
			color:$color-text-fade;			
		}		

		p{
			margin:0.5em;
		}

		.tag{
			display:inline-block;
			background:$color-secondary;
			color:$color-text-revert;
			padding:0.5em;
			margin:0 0.5em 0.5em 0;
			font-size:0.8em;
		}

	}
}