$color-primary:#334e5f;
$color-secondary:#5d7b92;
$color-highlight:#6ba7d5;
$color-text-primary:$color-primary;
$color-text-secondary:$color-secondary;
$color-text-revert:#f9fafb;
$color-text-fade:rgba(#607b8d,0.5);
$color-text-textarea:$color-text-secondary;
$color-background:#f9fafb;
$color-background-table:$color-background;
$color-background-table-secondary:rgba(#9db1bf,0.1);
$color-background-hover:rgba($color-text-fade,0.1);
$color-background-focus:rgba($color-text-fade,0.3);
$color-background-textarea:#f4f5f7;

$color-border:rgba(#c0ccd5,0.5);
$color-border-fade:rgba(#c0ccd5,0.3);

$z-main:0;
$z-sidebar:1;
$z-header:2;

$search-bar-width:15%;
$info-bar-width:20%;
$header-bar-height:6%;

$time-transition:0.3s;

@mixin border($direction, $color){
	border-#{$direction}:1px solid $color;
}

@mixin shadow($xoff, $yoff){
	box-shadow: $xoff $yoff 30px 0px rgba(0,0,0,0.5);	
}

@mixin transition($prop, $time:$time-transition){
	-webkit-transition:$prop $time;
}

@mixin clickable($hover-color:$color-highlight){
	@include transition(background);
	cursor:pointer;
	&:hover{
		background:$hover-color;
	}
}


*{
	margin:0;
	padding:0;
	border:0;
}

html,body{
	width:100%;
	height:100%;
}

body{
	font-family:"Helvetica Neue",sans-serif;
	background:$color-background;

}


.view-container{
	position:absolute;
	left:$search-bar-width;
	top:$header-bar-height;
	z-index:$z-main;

	width:100% - $search-bar-width - $info-bar-width;
	height:100% - $header-bar-height;
}

header{
	position:absolute;
	top:0;
	left:0;
	z-index:$z-header;
	
	width:100%;
	height:$header-bar-height;

	background:$color-primary;
	
		.tab-container{
		position:absolute;
		top:0;
		right:0;
		z-index:$z-header;

		display:flex;
		width:$info-bar-width;
		height:100%;

		background:$color-primary;
		list-style:none;

		.tab{
			display:flex;
			align-items:center;

			flex:1;		

			color:$color-text-revert;
			font-size:0.8em;

			@include clickable;

			&.active{
				background:$color-highlight;
			}

			span{
				width:100%;
				text-align:center;
			}
		}
	}

}


.table-view-container{
	width:100%;
	height:100%;	

	.grid{
		width:100%;
		height:100%;
	}

	.ui-grid{
		font-weight:300;
		border:0;

		.ui-grid-top-panel{	
			background:$color-secondary;
			color:$color-text-revert;
			font-weight:inherit;
		}

		.ui-grid-row{
			color:$color-text-primary;


			&:nth-child(odd) .ui-grid-cell{
				background:$color-background-table;
			}

			&:nth-child(even) .ui-grid-cell{
				background:$color-background-table-secondary;
			}

			&:hover .ui-grid-cell{
				background:$color-background-hover;
			}

			.ui-grid-cell.active{
				background-color:$color-highlight;	
				color:$color-text-revert;
			}

			.ui-grid-cell{
				border-color:$color-border;
			}




		}

		.ui-grid-header-cell{
			border-color:$color-border;	
		}
	}

}



.info-bar{
	position:absolute;
	right:0;
	top: $header-bar-height;
	z-index:$z-sidebar;
	width:$info-bar-width;
	height:100% - $header-bar-height;
	font-weight:300;

	@include shadow(5px, 0);

	.content-container{		

		height:100%;	
		width:100%;
		overflow:scroll;	

		color:$color-text-primary;		

		section{
			margin: 1em;
		}

		h2{
			font-weight:500;
			font-size:0.8em;
			color:$color-text-fade;			
		}		

		p{
			margin:0.5em;
		}

		h1{
			font-weight:inherit;
			font-size:1.2em;
			margin:1em;
		}

		.tag{
			display:inline-block;
			background:$color-secondary;
			color:$color-text-revert;
			padding:0.5em;
			margin:0 0.5em 0.5em 0;
			font-size:0.8em;

			@include clickable;
		}

		textarea{
			margin:0.5em;
			padding:0.5em;
			resize:none;
			background:$color-background-textarea;
			color:$color-text-textarea;
			border: 1px solid $color-border;

			font-family:"Helvetica Neue";
			font-size:1em;
			font-weight:300;
			box-sizing: border-box;
			width:90%;
			height:25em;	

			&:focus{
				outline:0;				
			}
		}

	}


}

.search-bar{
	display:flex;
	flex-direction:column;

	position:absolute;
	top:$header-bar-height;
	left:0;

	width:$search-bar-width;
	height: 100% - $header-bar-height;

	background:color-background;
	color:$color-text-primary;

	@include shadow(-5px, 0);	

	h2{	
		font-weight:300;
		font-size:1.2em;		
	}	

}

.collection-container{
	flex:none;		

	padding:0.5em 0;
	@include border(bottom,$color-border);

	section{
		display:flex;
		align-items:center;
		justify-content:space-between;
		
		padding:0.5em 1em;		

		@include clickable($color-background-hover);
		
		&.collection{
			padding-left:2em;
		}	
	}

	.count{
		float:right;
		font-size:0.8em;
		font-weight:300;
		color:$color-text-secondary;
	}

	h2{
		float:left;
	}

	h3{
		font-weight:300;
		font-size:0.8em;
	}
}

.button-container{
	flex:none;
	padding:0.5em 0;
	@include border(bottom,$color-border);

	h2{
		margin-left:1em;
	}

	.search-button{
		width:70%;
		height:15px;

		margin:1em auto 0.5em auto;
		padding:8px 0;
		background:$color-secondary;

		@include clickable;

		div{
			width:100%;
			height:100%;

			background:url('../resources/search-icon.png') no-repeat center;
			background-size:contain;
		}
	}
}
.condition-container{
	overflow:scroll;	

	.condition{
		position:relative;

		padding:1em;

		@include border(top,$color-border-fade);				

		&:hover .delete-button{
			opacity:1;
			pointer-events:auto;
		}

		select,input{
			color:$color-text-primary;
			
			@include clickable($color-background-hover);
			cursor:auto;
			
			&:focus{
				outline:0;
				background:$color-background-focus;
			}
		}

		input{
			margin-top:0.5em;
			padding:0.5em;

			width:100%;

			background:transparent;

			@include border(bottom, $color-border-fade);
		}

		.delete-button{
			position:absolute;
			top:0;
			right:0;			
			padding:7px;

			opacity:0;
			pointer-events:none;

			cursor:pointer;

			-webkit-transition:background $time-transition, opacity $time-transition;

			&:hover{
				background:$color-background-hover;
			}

			& > div{
				width:10px;
				height:10px;
				background:url('../resources/delete-icon.png');
				background-size:contain;	
			}

			
		}


	}

	.add-container{
		display:flex;
		align-items:center;
		padding:0.5em 1em;
		margin-bottom:0.5em;

		@include clickable($color-background-hover);

		.add-button{
			display:inline-block;
			padding:7px;
			& > div{
				width:10px;
				height:10px;
				background:url('../resources/add-icon.png');
				background-size:contain;	
			}
		}
		span{
			font-size:0.8em;
			color:$color-text-fade;
		}
	}

}

.graph-view-container{
	height:100%;
	svg{
		width:100%;
		height:100%;		
	}
}